 <center><h1>User Registered :<%= @users.count%></h1></center><br><br>
<% @users.each do |user|%>
 <span><center><h3><%= user.name%><br>
  <%= user.email%></h3>
  <h3> came at <%= time_ago_in_words(user.created_at) %> ago </h3>
  <br>
  
</center></span>

<%end%>

  