// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.errors {
  color: red;
}
.pull-right{
  color:   #1c2833 
  
}

.pull-right{
      margin-right: 18px;
}

.movie-liker {
 color: blue; 
} 

