// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.front-stars {
  color: yellow;
}


.image {
  width: fit-content;
  display: inline;
  
  img{
    width: 80px;
    padding-right: 10px; 
  }
}