<div class="stars-rating">
  <div class="back-stars">
   <span> * </span>
   <span> * </span>
   <span> * </span>
   <span> * </span>
   <span> * </span>
   <div class="front-stars" style="width:<%= precent%>%">
     <span> * </span>
     <span> * </span>
     <span> * </span>
     <span> * </span>
     <span> * </span>
   </div>    
  </div>
</div>